.container {
  height: 100%;
}

.contain {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.inputs {
  margin-top: 4vh;
  border-radius: 7px;
  height: 3vh;
  width: 12vw;
  border: 1px solid #341302;
  background-color: rgba(225, 213, 173, 26);
  color: #341302;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

.btnAdd {
  margin-top: 4vh;
  border-radius: 7px;
  min-height: 3vh;
  min-width: 8vw;
  border: 1px solid #341302;
  background-color: rgba(225, 213, 173, 26);
  color: #000000;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

input::placeholder {
  color: #000;
}
