.container {
  height: 100%;
}

.contain {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.inputs {
  width: 320px;
  padding: 10px 14px;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid #341302;
  font-size: 0.95rem;
  background-color: #e4dbba8f;
  color: #341302;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}
.inputs:focus {
  border-color: #b39530e9;
  box-shadow: 0 0 0 2px rgba(179, 149, 48, 0.2);
}

.btnAdd {
  margin-top: 4vh;
  border-radius: 7px;
  min-height: 3vh;
  min-width: 8vw;
  border: 1px solid #341302;
  background-color: #341302;
  color: #fff;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

input::placeholder {
  color: #4537318d;
}
