@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.pageContainer {
  display: grid;
  grid-template-columns: repeat(30, fr);
  grid-template-rows: repeat(30, fr);
  height: 100vh;
}

.dashboardTitle {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 31;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Aboreto", cursive;
  color: #230601;

}
.dashboardContent{
  grid-row-start: 2;
  grid-row-end: 31;
  grid-column-start: 1;
  grid-column-end: 31; 
  display: grid;
  grid-template-columns: 1fr 8px 2fr; 
  gap: 20px;
  padding: 20px;

}

.dashboardLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top:50px;
  font-family: "Poiret One", cursive;
 
}

.recipescroll{
  height: 80%;
  overflow-y: scroll;
}

.selectRecipe {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #e6dcc3;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  transition: background-color 0.2s ease, transform 0.15s ease;
}

.listItem:hover {
  background-color: #f5eadfde;
  transform: translateY(-1px);
}

/* Texte à gauche */
.listLabel {
  color: #2f0801;
  font-size: 1rem;
  font-weight: 500;
  cursor:grab;
}

.h4 {
  cursor:grab;
}

/* Zone icônes à droite */
.listActions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.listActions svg {
  cursor: pointer;
  color: #b39530e9;
  font-size: 20px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.listActions svg:hover {
  color: #d0aa43;
  transform: scale(1.15);
}

.dashboardRight {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
}

 .overviewDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin-top:100px;
  font-family: "Poiret One", cursive;
  color: #2f0801;
  width: 100%;
}
/*.recipePrice{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin-top:70px;
  width:100%;
  border: 1px solid #e91111;
}
.recipeChart{
  border: 1px solid #e91111;
  
} */

.pieTitle{
  font-size: 1.5rem;
  display:flex;
  font-family: "Poiret One", cursive;
  color: #2f0801;
  margin: 100px 300px 0px 0px;
}

.verticalSeparator {
  width: 2px;
  background: linear-gradient(to bottom, #ded7c0bd, #cfb86dbd, #eae1c4bd);
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(241, 196, 15, 0.4);
  margin: 0 auto;
}


.emptyTitle {
  font-size: 2.2rem;
  display:flex;
  font-family: "Poiret One", cursive;
  color: #2f0801;
  margin: 100px 300px 10px 300px;
}

.emptySubtitle {
  font-size: 1rem;
  color: #666;
   max-width: 1000px;
  margin: 0px 250px;
}

.stepsContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px;
}

.stepNumber {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #d0aa43;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.createButton {
  background-color: #2f0801;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  width: 400px;
}

.createButton:hover {
  opacity: 0.9;
}

.emptyDescription{
  margin: 10px
}

.tables{
  margin-top: 50px;
  gap: 2%;
  display: flex;
  justify-content:center;
  width: 500px;
  gap: 20px;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  
}

.costTableContainer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  width:100%
}
.priceTableContainer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  width:100%
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #222;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}

/* Entête */
.tableHead {
  background: linear-gradient(90deg, #4b1107f6, rgba(224, 204, 168, 0.76));
  color: white;
  text-align: left;
} 

.theadTR {
  height: 40px;
}

/* Cellules de l'entête */
.theadTD {
  padding: 12px 16px;
  font-weight: 600;
}

/* Lignes */
.tableRow {
  height: 30px;
  border-bottom: 1px solid #2f0801;
  padding: 10px;
} 

.tableRow:hover {
  background-color: #70643bb5;
  color: white;
  transition: 0.3s;
}

.tableColumn{
  border-right: 1px solid #2f0801;
  padding: 10px;
}

/* Coût total et résumé */
.totalRow {
  font-weight: 600;
  background-color: #f9d27eff;
  text-align: left;
}

/*  titre de tableau */
.costTableTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #2f0801a8;
  text-align: right;
}

.priceTableTitle{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #2f0801a8;
  text-align: left;
}
