.exportBtn {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  background-color: #2f0801a8;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.exportBtn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}