body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Overlay fade */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Content fade */
.ReactModal__Content {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
}

.ReactModal__Content--before-close {
  opacity: 0;
}