.headerContainer {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 31;
  align-items: center;
  justify-content: space-between;
  background-color: #2f0801;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerText {
  color: #f5eadfde;
  font-family: "Poiret One", cursive;
  font-weight: lighter;
}
.headerIcons {
  color: #cfb86dbd;
}
.headerSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatarImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
