@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

.main {
  height: 100vh;
  width: 100vw;
  background-color: #F1F1F1;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #370900;
  align-items: center;
}

.elCalculador {
  color: #FFFDFB;
  font-family: sans-serif;
  font-size: 40;
  font-weight: 600;
  margin-left: 45%;
}

.container {
  font-family:"Poiret One", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%
}

.cover {
  width:50%;
  height:100%
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.sloganText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
}

.slogan {
  width: 100%;
  height:10%;
  font-size: larger;
  font-weight: 1000;
  margin-top: 35%;
  color : color-mix(in srgb, #341302 90%, white);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width:100%;
  height:90%;
}

.titles {
  font-size: 25;
  margin-bottom: 0.9%;
  margin-top:1.25%;
}

.signInButton {
  font-size: 16;
  background-color: #D4AF37;
  color: white;
  border: 0;
  width: 12%;
  min-height: 6%;
  height: 6%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  margin-bottom: 2.5%;
  font-family: "Baskerville", sans-serif;
}

.signInButton:hover {
  font-size: 16;
  background-color: #D4AF37;
  color: white;
  border: 0;
  width: 12%;
  min-height: 6%;
  height: 6%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  margin-bottom: 2.5%;
  cursor: pointer;
  font-family: "Baskerville", sans-serif;
}

.signInButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.2) inset;
}

.signUpButton {
  font-size: 16;
  background-color: #D4AF37;
  color: white;
  border: 0;
  width: 12%;
  min-height: 6%;
  height: 6%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  font-family: "Baskerville", sans-serif;
}

.signUpButton:hover {
  font-size: 16;
  background-color: #D4AF37;
  color: white;
  border: 0;
  width: 12%;
  min-height: 6%;
  height: 6%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  cursor: pointer;
  font-family: "Baskerville", sans-serif;
}

.signUpButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.2) inset;
}