.main {
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #370900;
  align-items: center;
}

.elCalculador {
  color: #fffdfb;
  font-family: sans-serif;
  font-size: 30;
  font-weight: 600;
  margin-left: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.cover {
  width: 50%;
  height: 100%;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.slogan {
  width: 100%;
  height: 10%;
  justify-self: left;
  margin-left: 7.5%;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 90%;
  margin-left: 15%;
}

.titles {
  font-size: 25;
  margin-bottom: 0.9%;
  margin-top: 1.25%;
}

.signInButton {
  font-size: 16;
  background-color: #d4af37;
  color: white;
  border: 0;
  width: 12%;
  height: 4%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  margin-bottom: 2.5%;
}

.signInButton:hover {
  font-size: 16;
  background-color: #d4af37;
  color: white;
  border: 0;
  width: 12%;
  height: 4%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  margin-bottom: 2.5%;
  cursor: pointer;
}

.signInButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) inset;
}

.signUpButton {
  font-size: 16;
  background-color: #d4af37;
  color: white;
  border: 0;
  width: 12%;
  height: 4%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
}

.signUpButton:hover {
  font-size: 16;
  background-color: #d4af37;
  color: white;
  border: 0;
  width: 12%;
  height: 4%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  cursor: pointer;
}

.signUpButton:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) inset;
}
