.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, fr);
  grid-template-rows: repeat(30, fr);
  background-color: #fffffb;
}

.search {
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 31;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d4af37;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.list {
  display: flex;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 31;
  grid-column-start: 1;
  grid-column-end: 15;
  width: 100%;
  overflow-y: scroll;
  border-right: 2px solid #d4af37;
}

.add {
  grid-row-start: 3;
  grid-row-end: 31;
  grid-column-start: 15;
  grid-column-end: 31;
}

.searchBar {
  height: 70%;
  width: 25%;
}

.ingredient {
  border: 1px solid black;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  padding: 10px;
  margin: 5px 15px 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 4px rgba(0 0 0 / 20%);
  background-color: #fffffb;
}

.NameIngredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.modify {
  color: #d4af37;
}

.ingredient:hover {
  transform: scale(1.01);
}

.btn {
  border-radius: 7px;
  min-height: 3vh;
  min-width: 12vw;
  border: 1px solid #341302b1;
  background-color: #341302;
  color: #fff;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

.searchBar {
  border-radius: 7px;
  min-height: 3vh;
  min-width: 12vw;
  border: 1px solid #341302b1;
  background-color: rgba(225, 213, 173, 26);
  color: #000000;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

.description {
  font-size: 12;
}
