.Menu{
    width: 300px;
    height: 100vh; /* hauteur de la page sous le header */
    background-color: #f5f4e1;
    position: relative;
    overflow: hidden;
}

.pageName {
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
    margin-left: 30px;
    margin-top: 20px;
    color: #2F0801;
    display: flex;   
}

.icon { 
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pageName {
  font-family: "Poiret One", cursive;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem 0;
  margin-left: 30px;
  margin-top: 20px;
  color: #2f0801;
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.page{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    cursor:grab;
}

