.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  background-color: #fffffb;
}

.left {
  display: flex;
  grid-row-start: 4;
  grid-row-end: 31;
  grid-column-start: 1;
  grid-column-end: 16;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #d4af37;
}

.inputs {
  margin-top: 3vh;
}

.ingredients {
  display: flex;
  flex-direction: column;
  grid-row-start: 4;
  grid-row-end: 18;
  grid-column-start: 16;
  grid-column-end: 31;
  border-bottom: 2px solid #d4af37;
  width: 100%;
  overflow-y: scroll;
}

.stat {
  display: flex;
  grid-row-start: 18;
  grid-row-end: 31;
  grid-column-start: 16;
  grid-column-end: 31;
}

.dropdown {
  border: 2px solid black;
  background-color: greenyellow;
}

.inputs {
  margin-top: 3vh;
  border-radius: 7px;
  height: 3vh;
  width: 12vw;
  border: 1px solid #341302;
  background-color: rgba(225, 213, 173, 26);
  color: #341302;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

.btn {
  margin-top: 4vh;
  border-radius: 7px;
  min-height: 3vh;
  min-width: 8vw;
  border: 1px solid #341302;
  background-color: rgba(225, 213, 173, 26);
  color: #000000;
  box-shadow: 1px 2px rgb(0 0 0 / 20%);
}

.ingredient {
  border: 1px solid black;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  padding: 10px;
  margin: 5px 15px 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 4px rgba(0 0 0 / 20%);
  background-color: #fffffb;
}

.NameIngredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.description {
  font-size: 12;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.array {
  border: 1px solid black;
}

.ligne {
  border: 1px solid black;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red;  */
  padding: 5px 10px;
  border-radius: 5px;
  gap: 10px;
}

.category select {
  height: 20px;
  margin-top: 12px;
}

.category svg {
  vertical-align: bottom;
  cursor: pointer;
  color: #b39530e9;
}
