@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

.cross {
  justify-self: end;
}

.crossColor {
  color: black;
}

.crossColor:hover {
  cursor: pointer;
  color: grey;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poiret One", cursive;
}

.inputs {
  font-size: 16;
  background-color: #fcf9f4;
  border: 1px solid #6b3e2e;
  margin: 2%;
  width: 50%;
  height: 30px;
  font-family: "Baskerville", sans-serif;
}

.inputs:focus {
  outline: none;
}

.inputsPasswordsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16;
  background-color: #fcf9f4;
  border: 1px solid #6b3e2e;
  margin: 2%;
  width: 50%;
  height: 30px;
}

.inputsPasswords {
  font-size: 16;
  background-color: #fcf9f4;
  border: 0px;
  padding: 0;
  margin: 0;
  margin-left: 2px;
  width: 90%;
  height: 28px;
  font-family: "Baskerville", sans-serif;
}

.inputsPasswords:focus {
  outline: none;
}

.eyeIcon {
  margin-left: 3%;
}

.eyeIcon:hover {
  cursor: pointer;
  color: grey;
}

.buttonSignin {
  margin-top: 5%;
  width: 35%;
  height: 30px;
  color: white;
  background-color: #d4af37;
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  font-weight: bold;
  font-family: "Baskerville", sans-serif;
}

.buttonSignin:hover {
  margin-top: 5%;
  width: 35%;
  height: 30px;
  color: white;
  background-color: #d4af37;
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #989898;
  font-weight: bold;
  cursor: pointer;
}

.buttonSignin:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) inset;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
