.cross {
    justify-self: end;
}

.crossColor {
    color: black;
}

.crossColor:hover {
    cursor: pointer;
    color: grey;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    font-size: 16;
    background-color: #FCF9F4;
    border: 1px solid #6B3E2E;
    margin: 2%;
    width:50%;
    height:30px
}

.inputs:focus {
    outline: none;
}

.inputsPasswordsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16;
    background-color: #FCF9F4;
    border: 1px solid #6B3E2E;
    margin: 2%;
    width:50%;
    height:30px
}

.inputsPasswords {
    font-size: 16;
    background-color: #FCF9F4;
    border: 0px;
    padding: 0;
    margin: 0;
    margin-left:2px;
    width:90%;
    height:28px
}

.inputsPasswords:focus {
    outline: none;
}

.eyeIcon {
    margin-left:3%
}

.eyeIcon:hover {
    cursor: pointer;
    color : grey
}

.buttonSignin {
    margin-top: 5%;
    width: 35%;
    height: 30px;
    color: white;
    background-color: #D4AF37;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #989898;
    font-weight: bold;
}

.buttonSignin:hover {
    margin-top: 5%;
    width: 35%;
    height: 30px;
    color: white;
    background-color: #D4AF37;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #989898;
    font-weight: bold;
    cursor: pointer;
}

.buttonSignin:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0,0,0,0.2) inset;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}